<% if @current_headline then %>
	<%= render "current_headline" %>
<% end %>

<h2>Previous Headlines</h2>
<table class="table table-striped">
	<% @headlines.each do |headline| %>
		<tr>
			<td><%= link_to headline.name, headline_path(headline) %></td>
			<td><%= link_to headline.created_at, "#" %></td>
			<td></td>
		</tr>
	<% end %>
</div>