<header class="hero-unit">
	<h1>Guess Evening Standard Headline</h1>
	<p>Be the first to guess evening standard next issue's headline</p>

	<%= simple_form_for @headline, :url => new_index_headline_path, :wrapper => :default, :html => {:id => "print-headline", :class => "form-inline"} do |f| %>
		<%= f.input :name, :required => false, :label => false, :wrapper => false, :input_html => {:class => "span6"} %>
		<%= f.button :submit, "Print it", :class => "btn-primary" %>
	<% end %>
</header>

<%= render "inspiration" %>
